<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">
                    <i class="bi bi-speedometer2"></i>Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/book/issue">
                    <i class="bi bi-arrow-right-circle"></i>Issue Book
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/book/return">
                    <i class="bi bi-arrow-left-circle"></i>Return Book
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/book/list">
                    <i class="bi bi-book"></i>Books
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/user/list">
                    <i class="bi bi-people"></i>Users
                </a>
            </li>
        </ul>
    </div>
</nav>
